* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #efefef;
}

input,
body,
button {
	font: 1rem Roboto, sans-serif;
}

button {
	cursor: pointer;
}

header {
	background: #bd465f;
}

#container {
	max-width: 1160px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.menu {
	flex: 1;
	margin-left: 120px;
	min-width: 550px;
}

.menu ul {
	display: flex;
	justify-content: space-between;
}

.menu ul li {
	list-style: none;
	display: flex;
	align-items: center;
}

.menu-link {
	font: 24px Roboto, sans-serif;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border 0.5s;
}

.menu-link:hover {
	border-color: #fff;
}

main {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.margin-imagem-grande {
	margin-top: 80px;
}

#info-freedesigners {
	margin: 130px 0 0 50px;
	width: 500px;
}

#info-freedesigners > h1 {
	font: 900 72px Roboto, sans-serif;
	line-height: 84px;
	color: #2d2d30;
}

#info-freedesigners > p {
	margin-top: 20px;
	line-height: 30px;
	font-size: 24px;
	color: #a3a3a3;
}

#info-freedesigners > button {
	font: 24px Roboto, sans-serif;
	color: #fff;
	background: #bd465f;
	padding: 12px 75px;
	border: 0;
	border-radius: 20px;
	margin-top: 20px;
	transition: background-color 0.5s;
}

#info-freedesigners > button:hover {
	background: #d892a1;
}

#main-container {
	width: calc(100vw - 80px);
	margin: 0 auto;
}

#main-container > h1 {
	font: 900 48px Roboto, sans-serif;
	margin-top: 36px;
}

.form-container {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}

.form-container > .tip {
	margin-top: 4px;
	border: 1px solid sandybrown;
	color: sandybrown;
	flex: 1;
	padding: 8px 16px;
	background: cornsilk;
	border-radius: 4px;
	transition: linear visibility 0.2s, opacity 0.5s;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transform: translateY(62px);
}

.form-container:hover > span {
	opacity: 1;
	visibility: visible;
}

.form-label {
	color: #2d2d30;
	margin: 0 0 4px 2px;
}

.form-control {
	font: 400 18px Roboto, sans-serif;
	border-radius: 4px;
	border: 1px solid #e2e3ef;
	padding: 8px 16px;
	transition: border-color 0.5s;
}

.valido {
	border-color: #4caf50;
}

.invalido {
	border-color: #f44336;
}

.msg-error {
	margin-top: 4px;
	color: #f44336;
}

.form-control:focus {
	border: 2px solid #555;
}

.form-control::placeholder {
	/* pseudo-element */
	color: #e2e3ef;
}

textarea.form-control {
	height: 300px;
	resize: none;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}

.btn-container > .btn {
	margin-right: 16px;
}

.btn-container > .btn:last-child {
	margin-right: 0;
}

.btn {
	border-radius: 4px;
	padding: 16px 64px;
	border: 0;
	text-decoration: none;
}

.btn-primary {
	background: #bd465f;
	color: #fff;
	transition: background-color 0.25s;
}

.btn-primary:hover {
	background: #bd465fab;
}

.btn-secundary {
	background: transparent;
	color: #bd465f;
	border: 2px solid #bd465f;
	font-weight: 600;
	transition: background-color 0.25s;
}

.btn-secundary:hover {
	background: #bd465f;
	color: #fff;
	font-weight: normal;
}

.btn-table {
	padding: 16px 32px;
}

.btn-menu {
	font: 24px Roboto, sans-serif;
	color: #fff;
	background: #d892a1;
	transition: background-color 0.5s;
}

.btn-menu:hover {
	/* pseudo-class ou pseudo-selector */
	background: rgba(216, 146, 161, 0.4);
}

.tabela-precos {
	border-collapse: collapse;
	width: 100%;
	margin-top: 80px;
}

.tabela-precos-cabecalho th {
	font-size: 24px;
	color: #bd465f;
}

.tabela-precos-info td {
	font-size: 20px;
}

.tabela-precos-info tr:nth-child(even) {
	background: #dbdbdb;
}

.tabela-precos-info tr:last-child td {
	border-bottom: 1px solid #555;
}

th {
	border-bottom: 1px solid #555;
	padding: 10px;
}

td {
	border-bottom: 1px dotted #555;
	padding: 10px;
}

tfoot > tr > td {
	border: 0;
	text-align: center;
	padding-top: 25px;
}
